// Fonts

$font-main: 'Raleway', sans-serif;
$font-title: 'Playfair Display', serif;
$font-secondary: 'Roboto', sans-serif;

// Colors
$footer-bg: #2D343C;
$dark: #2D343C;
$accent: #D4C17F;
$white: #FFFFFF;
