.benefits__content {
    display: flex;
    justify-content: space-between;
    gap: 70px;

    position: relative;

    padding: 120px 0;

    &::after {
        content: "II";
        left: calc(50% + 555px);
        transform: translate(-50%, 0%);
        @include decorNumbers;
    }
};

.benefits__item {
    text-align: center;
};

.benefits__item-img {
    margin-bottom: 53px;

};

.benefits__item-description {
    font-size: 20px;
    font-family: $font-secondary;
    font-weight: 300;
    line-height: 27px;
}