.map [class*="main-engine-container"] {
    filter: grayscale(1) sepia(10%);
}

.my-marker {
    // position: relative;
    display: flex;
    flex-direction: column;
}

.my-marker__img {
    box-sizing: border-box;
    transform: translate(-50%,calc(-50% - 24px));
    cursor: pointer;

    background-image: url('./img/map/location-pin.svg');
    background-size: 40px;
    background-repeat: no-repeat;

    width: 40px;
    height: 40px;
}

.my-marker__content {
    min-width: 150px;
    transform: translate(20%, -140%);
    align-items: center;

    background-color: $accent;
    opacity: 0.8;

    padding: 10px 5px;
    border-radius: 3px;
}

.my-marker__content-item {
    color: $dark;

    & a {   
       color: $dark;
    }
}

